<!--本文件主要实现前期的准备工作完成基于gmapping的导航相关工作 3d摄像机最好集成化，如果变化很大再考虑封装化-->
<!--主要完成第一阶段的位置坐标设定和建图的过程，建图必须和设定的位置坐标一致 先分散再整合-->
<launch>


<!--打开机器人-->
<arg name="turtlebot_bringup_file" default="$(find fare_well)/launch/real/real_robot_bringup_with_kinect.launch"/>
<arg name="simulation" default="false"/>


<!--开启机器人的同时也开启了摄像机-->
<group unless="$(arg simulation)">

<include file="$(arg turtlebot_bringup_file)">
    <arg name="open_3dsensor" default="true"/>
    <arg name="start_joint_pub" default="true"/>
    <arg name="tf_laser_pose" default="0 0 0 0 0 0 1 /base_link /laser 50"/>
</include>

<include file="$(find fare_well)/launch/fake/gmapping_demo.launch">
    <arg name="move_base" value="false"/>
</include>

</group>
<!--如果是仿真就添加仿真节点可以尝试增加集成化-->

<group if="$(arg simulation)">

<include file="$(find test)/launch/test_environment.launch"/>

</group>

<!--输出当前的pose信息-->
<node name="pub_present_pose" type="pub_present_pose" pkg="test" />

<!--如果建图完成之后我就可以开启建图控制节点,叫他们去哪就可以去哪-->
</launch>