<launch>
<!--主流的节点都在fare测试完全除了参数之外不需要修改的放在farewell-->

<!--到了外面我就应该是跟踪同时建图，首先考虑能否跟踪,再考虑自主运动的问题 如何配置好的参数是一个问题，我配置好了参数不能自动化实现真尴尬-->
<include file="$(find fare_well)/launch/fake/gmapping_follower.launch"/>
<!--语音控制follow me 保证这个时候已经开启了语音节点-->
<node name="command_follower" pkg="test" type="cmd_follow_me" output="screen" respawn="true" />

<!--如何确定是否到达目标点这是一个问题-->
</launch>