<launch>

<arg name="turtlebot_bringup_file" default="$(find fare_well)/launch/real/real_robot_bringup_with_kinect.launch"/>
<arg name="simulation" default="false"/>


<group unless="$(arg simulation)">

<include file="$(arg turtlebot_bringup_file)">
    <arg name="open_3dsensor" default="true"/>
    <arg name="start_joint_pub" default="true"/>
    <arg name="tf_laser_pose" default="0 0 0 0 0 0 1 /base_link /laser 50"/>
</include>

<include file="$(find fare_well)/launch/fake/gmapping_demo.launch"/>

</group>
<!--如果是仿真就添加仿真节点可以尝试增加集成化-->

<group if="$(arg simulation)">

<include file="$(find test)/launch/test_environment.launch"/>

</group>

<include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch"/>

<!--如果建图完成之后我就可以开启建图控制节点,叫他们去哪就可以去哪-->
</launch>