<launch>

<include file="$(find fare_well)/launch/fake/amcl_demo.launch">
  <arg name="have_map" default="false"/>
  <arg name="rviz" default="false"/>
  <arg name="scan_process" default="false"/>
  <arg name="scan_topic" default="scan_filtered"/>
</include>

<include file="$(find fare_well)/launch/fake/gmapping_demo.launch">
  <arg name="rviz" value="true"/>
  <arg name="scan_process" value="true"/>
  <arg name="scan_topic" value="scan_filtered"/>
  <arg name="simulation" value="false"/>
</include>
</launch>