<launch>

<include file:="$(find test)/launch/test_environment.launch"/>

<node pkg="test" ,name="navi_node",type="set_goal"/>

<node pkg="sound_play",name="speak_node",type="soundplay_node.py"/>

<node pkg="test",name="sound_node",type="iat_publish"/>
<!--可以及时的阻塞掉-->
<include file:="$(find test)/launch/robot_voice.launch"/>

<include file="$(find test)/launch/follow_me_gmapping.launch"/>

</launch>