<!--主要用来便于老师测试-->
<launch>
    <include file="$(find fare_well)/launch/real/real_robot_bringup_with_kinect.launch">
    </include>
    <include file="$(find test)/launch/robot_voice.launch">
    </include>    
    
    <include file="$(find fare_well)/launch/fake/amcl_demo.launch">
    </include>
    <node name="core_control" type="control_core" pkg="test" />
    <node name="set_goal" type="core_node" pkg="test" />
</launch>
